<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block content %}
  <body>
    <div class="container">
      <form method="POST">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email</label>
        <input type="email" id="email" name="firstname" placeholder="Your name..">

        <label for="minpart">Minimum Participants</label>
        <input type="text" id="minpart" name="minpart" placeholder='0'>

        
        <label for="maxpart">Maximum Participants</label>
        <input type="text" id="maxpart" name="maxpart" placeholder='100'>


        <label for="etype">Event Type</label>
        <select id="etype" name="etype">
          <option value="sports">Sports</option>
          <option value="meals">Meals</option>
          <option value="other">Other</option>
        </select>

        <label for="edesc">Event Description</label>
        <textarea id="edesc" name="edesc" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Create Event!">

      </form>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
      apiKey: "AIzaSyC8iaO8kb95S5mnUa2WLSCrCO-2Vq7RWiE",
      authDomain: "amherst-hangout.firebaseapp.com",
      projectId: "amherst-hangout",
      storageBucket: "amherst-hangout.appspot.com",
      messagingSenderId: "396712529274",
      appId: "1:396712529274:web:043222572d7137bc939ac3"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  </body>
{% endblock %}
</html>
